<!-- <mat-toolbar [color]="themeService.getTheme()">
    <mat-toobar-row fxLayout="row">
        <span class="title-center">{{dialogData.action}}</span>
    </mat-toobar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="categoryForm">
        <div fxFlex Laoyout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxDlex  [color]="themeService.getTheme()">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.invalid">
                        <span *ngIf="categoryForm.controls.name.errors?.required">This field is required</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button [color]="themeService.getTheme()" type="submit" (click)="handleSubmit()" [disabled]="!categoryForm.valid || !category.dirty">
        {{action}}

    </button>
    <button mat-raised-button [color]="themeService.getTheme()" mat-dialog-close>Close</button>
</mat-dialog-actions> -->

<mat-toolbar [color]="themeService.getTheme()">
    <mat-toolbar-row fxLayout="row">
        <span class="title-center">{{ dialogData.action }}</span>
    </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
    <form [formGroup]="categoryForm">
        <div fxFlex layout="column">
            <div fxLayout="row wrap">
                <mat-form-field appearance="fill" fxFlex [color]="themeService.getTheme()">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="categoryForm.controls.name.touched && categoryForm.controls.name.invalid">
                        <span *ngIf="categoryForm.controls.name.errors?.required">This field is required</span>
                    </mat-error>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
    <button mat-raised-button [color]="themeService.getTheme()" type="submit" (click)="handleSubmit()" [disabled]="!categoryForm.valid">
        {{ action }}
    </button>
    <button mat-raised-button [color]="themeService.getTheme()" mat-dialog-close>Close</button>
</mat-dialog-actions>


